.card-container{
    margin: 13px;
    width: 30%;
    height: 30%;
    background-color: azure;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
}

.card-container .card-header{
    height: 50px;
    background-color:antiquewhite
    
}

.card-container .card-header h1{
    font-size: 20px;
}

.card-container .card-delete {
    margin: 10px;
}

button{
    width: 17%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}